.title{
  text-align: center;
  font-weight: 600;
  align-items: center;
  padding: 10px;
}
.model-detail{
  text-align: center;
  margin: 30px 0;
  mat-icon{
    float: right;
    margin-bottom: 50px;
  }
}
.action-list{
  margin: 10px 0;
  display: flex;
  .mat-raised-button.mat-primary {
    background-color: #2076be;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    margin: 0 17px;
    height: 100px;
  }
}

.model-content{
  width: 100%;
  .mat-raised-button.mat-primary {
    background-color: #2076be;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 20%;
    height: 50px;
    float: right;
  }
  .add-list{
    .mat-raised-button{
      margin: auto;
      width: 50%;
      height: 100px;
      margin: 10px 0;
    }
  }
}
