<div class="container-fluid">
  <div class="row" style="width: 90%; margin: auto">
    <div class="col-lg-4" style="border: 1px solid;">
      <div class="title">Action</div>
      <hr style="border: 1px solid;">
      <div class="model-detail" *ngIf="actionConfig">
        <mat-icon (click)="close(action)">clear</mat-icon>
        <div>
            <span style="font-weight: bold;">{{action?.display_name}}</span>
            <div></div>
            <div style="margin-top: 35px; display: flex;" *ngFor="let item of param">
                <span style="width: 50%;">{{ item.display_name }}</span>
                <div>
                  <input type="text" *ngIf="item.type === 'string'" [(ngModel)]="item.value" >
                  <input type="checkbox" *ngIf="item.type === 'bool'" [(ngModel)]="item.value" >
                  <input type="number" *ngIf="item.type === 'int'" [(ngModel)]="item.value" >
                  <input type="number" *ngIf="item.type === 'number'" [(ngModel)]="item.value" >
                </div>
            </div>
        </div>
      </div>
      <div class="action-list" *ngFor="let item of ActionList">
        <button mat-raised-button color="primary" (click)="addModel(item)">{{ item.display_name }}</button>
      </div>
    </div>

    <div class="col-lg-8 model-content" style="background-color: #ccc; border: 1px solid;">
      <mat-form-field appearance="fill">
          <mat-label>Tên mô hình</mat-label>
          <input matInput [(ngModel)]="modelName">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="save()">Lưu</button>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="add-list text-center" *ngFor="let item of contentList; let i = index" cdkDrag>
          <button mat-raised-button (click)="showDetail(item)" cdkDrag>
            <span>{{i + 1}}.</span>
            {{ item.display_name }}
            <mat-icon color="warn" (click)="removeModel()">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

