<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Trực quan hóa</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Dữ liệu khai thác">
                <section class="content" style="margin-top: 30px;">
                    <div class="container-fluid">
                        <div class="form-group row" style="width: 80%; margin: 0 auto; margin-bottom: 30px;">
                            <input class="form-control col-lg-9" type="search" [matAutocomplete]="auto" [(ngModel)]="khaithacSelected">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let list of KhaithacList" [value]="list.FILENAME">
                                    {{ list.FILENAME }}
                                </mat-option>
                            </mat-autocomplete>
                            <hr>
                            <button class="btn btn-primary" (click)="getDataList()" style="margin-right: 70px;">
                                <i class="fas fa-bar-chart"></i> Thống kê
                            </button>
                        </div>
                        <div class="row">
                            <section class="col-lg-12 connectedSortable" *ngIf="this.explodeDataPSIA">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Biểu đồ dữ liệu áp suất đáy giếng
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content p-0">
                                            <apx-chart
                                                [series]="linechart1.series"
                                                [chart]="linechart1.chart"
                                                [xaxis]="linechart1.xaxis"
                                                [dataLabels]="linechart1.dataLabels"
                                                [grid]="linechart1.grid"
                                                [stroke]="linechart1.stroke"
                                                [title]="linechart1.title"
                                                [yaxis]="linechart1.yaxis"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="col-lg-12 connectedSortable" *ngIf="this.explodeDataQSTB">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Biểu đồ dữ liệu lưu lượng khai thác
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content p-0">
                                            <apx-chart
                                                [series]="linechart2.series"
                                                [chart]="linechart2.chart"
                                                [xaxis]="linechart2.xaxis"
                                                [dataLabels]="linechart2.dataLabels"
                                                [grid]="linechart2.grid"
                                                [stroke]="linechart2.stroke"
                                                [title]="linechart2.title"
                                                [yaxis]="linechart2.yaxis"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- <section class="col-lg-12 connectedSortable">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Biểu đồ
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content p-0" *ngIf="this.explodeDataPSIA">
                                            <apx-chart
                                                [series]="scatterchart.series"
                                                [chart]="scatterchart.chart"
                                                [xaxis]="scatterchart.xaxis"
                                                [yaxis]="scatterchart.yaxis"
                                                [dataLabels]="scatterchart.dataLabels"
                                                [grid]="scatterchart.grid"
                                                [title]="scatterchart.title"
                                                [markers]="scatterchart.markers"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                </div>
                            </section> -->
                        </div>
                    </div>
                </section>
            </mat-tab>
            <mat-tab label="Dữ liệu Welllogs">
                <section class="content" style="margin-top: 30px;">
                    <div class="container-fluid">
                        <div class="form-group row" style="width: 80%; margin: 0 auto; margin-bottom: 30px">
                            <input class="form-control col-lg-6" type="search" [matAutocomplete]="autoWellLog" [(ngModel)]="welllogSelected"
                            />
                            <mat-autocomplete #autoWellLog="matAutocomplete">
                                <mat-option *ngFor="let item of ListWellog" [value]="item.FILENAME">
                                    {{ item.FILENAME }}
                                </mat-option>
                            </mat-autocomplete>
                            <hr />
                            <select class="form-select" [(ngModel)]="selectedOptionId">
                                <option *ngFor="let item of optionValue" [value]="item.id">
                                {{ item.text }}
                                </option>
                            </select>
                            <hr />
                            <button class="btn btn-primary" (click)="getWelllogsData()">
                                <i class="fas fa-bar-chart"></i> Thống kê
                            </button>
                            <button class="btn btn-danger" (click)="FilterChart()" style="margin-left: 30px">
                                <i class="fas fa-database"></i> Missing Data
                            </button>
                        </div>
                        <div class="row">
                            <div *ngIf="this.welllogsData">
                                <ng-template [ngIf]="this.selectedOptionId == 1">
                                <section class="col-lg-12 connectedSortable">
                                    <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Biểu đồ tổng hợp</h3>
                                    </div>
                                    <div class="card-body" style="display: flex;">
                                      <apx-chart
                                        [series]="chartSumOptions.series"
                                        [chart]="chartSumOptions.chart"
                                        [xaxis]="chartSumOptions.xaxis"
                                        [dataLabels]="chartSumOptions.dataLabels"
                                        [grid]="chartSumOptions.grid"
                                        [stroke]="chartSumOptions.stroke"
                                        [title]="chartSumOptions.title"
                                      ></apx-chart>
                                      <apx-chart
                                        [series]="chartSum2Options.series"
                                        [chart]="chartSum2Options.chart"
                                        [xaxis]="chartSum2Options.xaxis"
                                        [dataLabels]="chartSum2Options.dataLabels"
                                        [grid]="chartSum2Options.grid"
                                        [stroke]="chartSum2Options.stroke"
                                        [title]="chartSum2Options.title"
                                      ></apx-chart>
                                      <apx-chart
                                        [series]="chartSum3Options.series"
                                        [chart]="chartSum3Options.chart"
                                        [xaxis]="chartSum3Options.xaxis"
                                        [dataLabels]="chartSum3Options.dataLabels"
                                        [grid]="chartSum3Options.grid"
                                        [stroke]="chartSum3Options.stroke"
                                        [title]="chartSum3Options.title"
                                      ></apx-chart>
                                      <apx-chart
                                        [series]="chartSum4Options.series"
                                        [chart]="chartSum4Options.chart"
                                        [xaxis]="chartSum4Options.xaxis"
                                        [dataLabels]="chartSum4Options.dataLabels"
                                        [grid]="chartSum4Options.grid"
                                        [stroke]="chartSum4Options.stroke"
                                        [title]="chartSum4Options.title"
                                      ></apx-chart>
                                    </div>
                                    </div>
                                </section>
                                </ng-template>
                                <ng-template [ngIf]="this.selectedOptionId == 2">
                                <section class="col-lg-12 connectedSortable">
                                    <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Biểu đồ Histogram</h3>
                                    </div>
                                    <div class="card-body" style="display: grid; grid-template-columns: 796px 796px">
                                      <ag-charts-angular [options]="histogramOptions"></ag-charts-angular>
                                      <ag-charts-angular [options]="histogram2Options"></ag-charts-angular>
                                      <ag-charts-angular [options]="histogram3Options"></ag-charts-angular>
                                      <ag-charts-angular [options]="histogram4Options"></ag-charts-angular>
                                    </div>
                                    </div>
                                </section>
                                </ng-template>
                                <ng-template  [ngIf]="this.selectedOptionId == 3">
                                <section class="col-lg-12 connectedSortable">
                                  <div class="card">
                                    <div class="card-header">
                                      <h3 class="card-title">Biểu đồ Scatter</h3>
                                    </div>
                                    <div class="card-body">
                                      <div style="display: grid; grid-template-columns: 796px 796px">
                                        <apx-chart
                                            [series]="scatter2Option.series"
                                            [chart]="scatter2Option.chart"
                                            [xaxis]="scatter2Option.xaxis"
                                            [yaxis]="scatter2Option.yaxis"
                                            [dataLabels]="scatter2Option.dataLabels"
                                            [grid]="scatter2Option.grid"
                                            [title]="scatter2Option.title"
                                            [markers]="scatter2Option.markers"
                                        ></apx-chart>
                                        <apx-chart
                                            [series]="scatterOption.series"
                                            [chart]="scatterOption.chart"
                                            [xaxis]="scatterOption.xaxis"
                                            [yaxis]="scatterOption.yaxis"
                                            [dataLabels]="scatterOption.dataLabels"
                                            [grid]="scatterOption.grid"
                                            [title]="scatterOption.title"
                                            [markers]="scatterOption.markers"
                                        ></apx-chart>
                                        <apx-chart
                                            [series]="scatter3Option.series"
                                            [chart]="scatter3Option.chart"
                                            [xaxis]="scatter3Option.xaxis"
                                            [yaxis]="scatter3Option.yaxis"
                                            [dataLabels]="scatter3Option.dataLabels"
                                            [grid]="scatter3Option.grid"
                                            [title]="scatter3Option.title"
                                            [markers]="scatter3Option.markers"
                                        ></apx-chart>
                                        </div>
                                    </div>
                                  </div>
                                </section>
                              </ng-template>
                            </div>

                            <section class="col-lg-12 connectedSortable" >
                              <div class="card" *ngFor="let item of welllogMissingData">
                                <div class="card-header">
                                    <h3 class="card-title">{{ item.title }}</h3>
                                </div>
                                <div class="card-body">
                                  <div class="text-center">
                                    <!-- <apx-chart
                                        [series]="missingOption.series"
                                        [chart]="missingOption.chart"
                                        [dataLabels]="missingOption.dataLabels"
                                        [plotOptions]="missingOption.plotOptions"
                                        [responsive]="missingOption.responsive"
                                        [xaxis]="missingOption.xaxis"
                                        [legend]="missingOption.legend"
                                        [fill]="missingOption.fill"
                                    ></apx-chart> -->
                                    <img [src]="item.link" style="width: 400px;">
                                  </div>
                                </div>
                              </div>
                            </section>
                        </div>
                    </div>
                </section>
            </mat-tab>
            <mat-tab label="Dữ liệu hình ảnh">
                <section class="content" style="margin-top: 30px;">
                    <div class="container-fluid">
                        <div class="form-group row" style="width: 50%; margin: 0 auto; margin-bottom: 30px;">
                            <input class="form-control col-lg-11" type="search" placeholder="Tìm kiếm..." [(ngModel)]="imageName" [matAutocomplete]="autoImage">
                            <mat-autocomplete #autoImage="matAutocomplete">
                                <mat-option *ngFor="let item of dataSource.data" [value]="item.name">
                                    {{item.name}}
                                </mat-option>
                              </mat-autocomplete>
                            <button class="btn btn-primary" (click)="getImageName(this.imageName)">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                        <div class="row">
                            <section class="col-lg-12 connectedSortable">
                                <table mat-table [dataSource]="dataSource">
                                    <ng-container matColumnDef="Name">
                                        <th mat-header-cell *matHeaderCellDef>Tên</th>
                                        <td mat-cell *matCellDef="let element;" style="width: 500px;">{{ element.name }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="Image">
                                        <th mat-header-cell *matHeaderCellDef>Hình ảnh</th>
                                        <td mat-cell *matCellDef="let element;">
                                            <img style="width: 200px; height: 100px;" [src]="element.link" (click)="openDialog('View', element)">
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Type">
                                        <th mat-header-cell *matHeaderCellDef>Loại</th>
                                        <td mat-cell *matCellDef="let element;">{{ element.type == 0 ? 'Thư mục' : 'File' }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="CreatedTime">
                                        <th mat-header-cell *matHeaderCellDef>Thời gian tạo</th>
                                        <td mat-cell *matCellDef="let element;">{{ element.created_at * 1000 | date: "dd/MM/yyyy hh:mm a" }}</td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                </table>
                                <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" [length]="Total" showFirstLastButtons></mat-paginator>
                            </section>
                        </div>
                    </div>
                </section>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
