<div class="container-fluid">
  <div class="row" style="width: 90%; margin: auto">
    <div class="col-lg-4" style="border: 1px solid;">
      <div class="title">Privilege</div>
      <hr style="border: 1px solid;">
      <div class="action-list" *ngFor="let item of privilegeList">
        <button mat-raised-button color="primary" (click)="addPri(item)">{{ item }}</button>
      </div>
    </div>

    <div class="col-lg-8 pipe-content" style="background-color: #ccc; border: 1px solid;">
      <mat-form-field appearance="fill">
          <mat-label>Vai trò</mat-label>
          <input matInput [(ngModel)]="privilegeName">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="save()">Lưu</button>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="add-list text-center" *ngFor="let Item of contentList; let i = index" cdkDrag>
            <button mat-raised-button cdkDrag>
                <span>{{i + 1}}.</span>
                {{Item}}
                <mat-icon color="warn" (click)="removePri()">delete</mat-icon>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
