<div class="content-header">
  <div class="container-fluid">
    <h1 class="text-center">Mô hình huấn luyện</h1>
  </div>
</div>
<section class="content" style="margin-top: 80px;">
  <div class="container-fluid">
    <div class="row">
      <div class="text-right col-lg-10">
        <mat-form-field style="width: 70%; margin-right: 100px;">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput type="search" [(ngModel)]="modelName">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <button mat-raised-button color="primary" (click)="addModel()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-lg-10 connectedSortable" style="margin: auto;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tên</th>
            <th scope="col">Thời gian tạo</th>
            <th scope="col">Thực hiện</th>
            <th scope="col">Biểu đồ</th>
            <th scope="col">Hoạt động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of modelList | filter: modelName">
            <th>{{item.name}}</th>
            <td>
              {{item.created_at * 1000 | date: "dd/MM/yyyy"}}
            </td>
            <td (click)="runModel(item.name)">
              <i *ngIf="item.state != 1" class="fas fa-play-circle"></i>
              <div *ngIf="item.state == 1" class="spinner-border"></div>
            </td>
            <td>
              <button mat-icon-button color="primary" style="margin: 0;" (click)="openDialog('View', item)">
                <mat-icon>bar_chart</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button color="accent" (click)="openToDetail(item.name)">
                <mat-icon>edit</mat-icon>
              </button>
              |
              <button mat-icon-button color="warn" (click)="deleteModel(item.name)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
