.text-center{
  margin-top: 50px;
  font-weight: 700;
  color: #224170;
}
.mat-raised-button.mat-primary {
  background-color: #2076be;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px;
}
table, th, td{
  color: #224170;
  text-align: center;
  i{
      color: aqua;
  }
  cursor: pointer;
}
thead{
  background: rgba(228,228,228,.5);
  border: 1px solid #A6A6A6;
}
tbody{
  border: 1px solid #A6A6A6;
}
