
 <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Chuẩn hóa dữ liệu">
      <div class="content-header">
        <div class="container-fluid">
            <h1 class="text-center">Chuẩn hóa dữ liệu</h1>
        </div>
      </div>
      <section class="content" style="margin-top: 80px;">
          <div class="container-fluid">
              <div class="row">
                  <div class="text-right col-lg-9">
                      <mat-form-field style="width: 70%; margin-right: 100px;">
                          <mat-label>Tìm kiếm</mat-label>
                          <input matInput type="search" [(ngModel)]="selectedPipeName">
                      </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <button mat-raised-button color="primary" style="margin: 0;">
                        Run
                    </button>
                    <button mat-raised-button color="primary" (click)="openToPage()">
                        Thêm mới
                    </button>
                  </div>
              </div>
              <div class="col-lg-10 connectedSortable" style="margin: auto;">
                  <table class="table">
                      <thead>
                          <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Thời gian tạo</th>
                            <th scope="col">Thực hiện</th>
                            <th scope="col">Xem kết quả</th>
                            <th scope="col">Hoạt động</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of pipeList | filter: selectedPipeName">
                              <th>{{ item._id }}</th>
                              <td>{{ item.name }}</td>
                              <td>{{ item.created_at * 1000 | date: "dd/MM/yyyy" }}</td>
                              <td (click)="runPipe(item.name)">
                                  <i class="fas fa-play-circle"></i>
                                  <span *ngIf="this.loaded" class="spinner-border"></span>
                              </td>
                              <td>
                                  <button mat-raised-button color="primary" style="margin: 0;" (click)="openDialog('View', item)">
                                    Kết quả
                                  </button>
                              </td>
                              <td>
                                  <button mat-icon-button color="accent" (click)="redrictPage(item.name)">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  |
                                  <button mat-icon-button color="warn" (click)="edit(item.name)">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </section>
    </mat-tab>
    <mat-tab label="Trích xuất dữ liệu">
      <div class="content-header">
        <div class="container-fluid">
            <h1 class="text-center">Trích xuất dữ liệu</h1>
        </div>
      </div>
      <section class="content" style="margin-top: 80px;">
        <div class="container-fluid">
          <div class="row">
            <div class="text-right col-lg-9">
                <mat-form-field style="width: 70%; margin-right: 100px;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput type="search" [(ngModel)]="selectedPipeName">
                </mat-form-field>
            </div>
            <div class="col-lg-3">
              <button mat-raised-button color="primary" (click)="addMore()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div class="col-lg-10 connectedSortable" style="margin: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Mã</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Thực hiện</th>
                    <th scope="col">Thời gian tạo</th>
                    <th scope="col">Hoạt động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of preprocessList | filter: selectedPipeName">
                    <th>{{item._id}}</th>
                    <td>{{item.name}}</td>
                    <td (click)="runData(item.name)">
                      <i class="fas fa-play-circle"></i>
                    </td>
                    <td>{{item.created_at * 1000 | date: "dd/MM/yyyy"}}</td>
                    <td>
                      <button mat-icon-button color="accent" (click)="redrictProcessPage(item.name)">
                        <mat-icon>insert_drive_file</mat-icon>
                      </button>
                      |
                      <button mat-icon-button color="warn" (click)="deletePre(item.name)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        </div>
      </section>
    </mat-tab>
 </mat-tab-group>

<router-outlet></router-outlet>
