:host{
    mat-icon{
        vertical-align: middle;
        margin-right: 1rem
    }
}
.logo-title{
    text-align: center;
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        color: red;
    }
}

.nav-item{
    .nav-link{
        height: 72px;
        i{
            margin: 20px 0;
            font-size: 20px;
        }
        p{
            margin: 20px 0;
            font-size: 15px;
            margin-left: 10px;
        }
        &:hover {
            background: #1e397b !important;
        }
    }
}