

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link">
        <img src="assets/images/1329a14d12b3d2ed8ba2.jpg" class="brand-image elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-bold">BIG DATA</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img [src]="this.user.user.avata" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a class="d-block">{{this.user.user.role}} {{this.user.user.username}}</a>
            </div>
        </div>
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngFor="let item of this.user.privilege">
                    <a [routerLink]="sidemenu[item].path" class="nav-link">
                      <i [class]="sidemenu[item].icon"></i>
                      <p>{{ sidemenu[item].name }}</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
