<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dữ liệu hình ảnh</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-group row" style="width: 50%; margin: 0 auto; margin-bottom: 30px;">
            <input class="form-control col-lg-11" type="search" placeholder="Tìm kiếm..." [(ngModel)]="imageName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of dataSource.data" [value]="item.name">
                    {{item.name}}
                </mat-option>
              </mat-autocomplete>
            <button class="btn btn-primary" (click)="getImageName(this.imageName)">
                <i class="fas fa-search fa-fw"></i>
            </button>
        </div>
        <div class="row">
            <!-- <div class="col-lg-3 connectedSortable">
                <div class="card" >
                    <div class="card-body">
                        <ejs-treeview id='treeelement'  
                            [fields]='field' 
                            (nodeSelected)="nodeSelected($event)">
                            <ng-template #nodeTemplate="" let-data="">
                                <div>
                                    <i class ="nav-icon fa fa-file-o" *ngIf="data.type == 1"></i>
                                    <span>{{ data.name }}</span>
                                </div>
                            </ng-template>
                        </ejs-treeview>
                    </div>
                </div>
            </div> -->
            <section class="col-lg-12 connectedSortable">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Tên</th>
                        <td mat-cell *matCellDef="let element;" style="width: 500px;">{{ element.name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Image">
                        <th mat-header-cell *matHeaderCellDef>Hình ảnh</th>
                        <td mat-cell *matCellDef="let element;">
                            <img style="width: 200px; height: 100px;" [src]="element.link" (click)="openDialog('View', element)">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Type">
                        <th mat-header-cell *matHeaderCellDef>Loại</th>
                        <td mat-cell *matCellDef="let element;">{{ element.type == 0 ? 'Thư mục' : 'File' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="CreatedTime">
                        <th mat-header-cell *matHeaderCellDef>Thời gian tạo</th>
                        <td mat-cell *matCellDef="let element;">{{ element.created_at * 1000 | date: "dd/MM/yyyy hh:mm a" }}</td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="download">
                        <th mat-header-cell *matHeaderCellDef>Hoạt động</th>
                        <td mat-cell *matCellDef="let element;">
                            <button mat-icon-button color="accent" (click)="download(this.imageName)">
                                <mat-icon>download</mat-icon>
                            </button>
                        </td>
                    </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" [length]="Total" showFirstLastButtons></mat-paginator>
            </section>
        </div>
    </div>
</section>