<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý người dùng</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="text-right col-lg-11" style="margin:auto">
            <mat-form-field style="width: 50%; margin-right: 100px;">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="search" (keyup)="Filter($event)">
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="openDialog('Thêm', {})">
                <mat-icon>add</mat-icon> Thêm người dùng
            </button>
        </div>
        <br>
        <div class="row">
            <section class="col-lg-11 connectedSortable" style="margin: auto">
                <div class="card">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="Số thứ tự">
                                <th mat-header-cell *matHeaderCellDef >Số thứ tự</th>
                                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef>Họ tên</th>
                                <td mat-cell *matCellDef="let element">{{ element.fullname }}</td>
                            </ng-container>
                            <ng-container matColumnDef="avatar">
                                <th mat-header-cell *matHeaderCellDef>Avatar</th>
                                <td mat-cell *matCellDef="let element" >
                                    <img width="80px" height="80px" [src]="element.avata">
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Username">
                                <th mat-header-cell *matHeaderCellDef>Username</th>
                                <td mat-cell *matCellDef="let element">{{ element.username }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef>Hoạt động</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="primary" (click)="openDialog('Cập Nhật', element)">
                                        <mat-icon>edit</mat-icon>
                                    </button> |
                                    <button mat-icon-button color="warn" (click)="deleteUser(element._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
                
            </section>
        </div>
    </div>
</section>