.statistical-content{
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 11px 0 rgb(0 0 0 / 12%);
    .statistical-header{
        display: flex;
        align-items: center;
        margin: 30px;
        padding-top: 20px;
        h3{
            font-weight: 400;
        }
    }
    .two-boxs{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin: 0 250px;
        text-align: center;
        align-items: center;
        .box-1{
            width: 250px;
            border: none;
            border-radius: 10px;
            box-shadow: 0 1px 11px 0 rgb(0 0 0 / 30%);
        }
        .box-2{
            width: 250px;
            border: none;
            border-radius: 10px;
            box-shadow: 0 1px 11px 0 rgb(0 0 0 / 30%);
        }
        p{
            font-size: 20px;
            font-weight: bold;
            margin: 20px 0;
        }
    }
}

