<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Thống kê</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-9">
                <div class="small-box bg-info">
                    <div class="icon bg-white">
                        <i class="fas fa-server"></i>
                    </div>
                    <div class="inner">
                        <h3>Cụm máy</h3>
                        <p>3 máy chủ</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-9">
                <div class="small-box bg-success">
                    <div class="icon bg-white">
                        <i class="fas fa-file"></i>
                    </div>
                    <div class="inner">
                        <h3>Tổng số File</h3>
                        <p>{{ countTotal }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-9">
                <div class="small-box bg-warning">
                    <div class="icon bg-white">
                        <i class="fas fa-gears"></i>
                    </div>
                    <div class="inner" >
                        <h3>Dung lượng</h3>
                        <p>{{ sizeTotal }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="card" *ngIf="this.linechartDataSize">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-chart-line mr-1"></i>
                            Biểu đồ biểu thị số lượng file
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <div #chart>
                                <apx-chart
                                    [series]="chartOptions.series"
                                    [chart]="chartOptions.chart"
                                    [xaxis]="chartOptions.xaxis"
                                    [dataLabels]="chartOptions.dataLabels"
                                    [grid]="chartOptions.grid"
                                    [stroke]="chartOptions.stroke"
                                    [title]="chartOptions.title"
                                ></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="this.ColchartDataSize">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-chart-bar mr-1"></i>
                            Biểu đồ biểu thị dung lượng file
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <div #chart>
                                <apx-chart
                                    [series]="chartColumnOptions.series"
                                    [chart]="chartColumnOptions.chart"
                                    [dataLabels]="chartColumnOptions.dataLabels"
                                    [plotOptions]="chartColumnOptions.plotOptions"
                                    [xaxis]="chartColumnOptions.xaxis"
                                    [legend]="chartColumnOptions.legend"
                                    [colors]="chartColumnOptions.colors"
                                    [grid]="chartColumnOptions.grid"
                                    [title]="chartColumnOptions.title"
                                ></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

