#datatable-editable_filter {
    text-align: right;
}

#datatable-editable_filter input {
    margin-left: .5em;
}

.panel-body table th {
    user-select: none;
}

.page-title-box a {
    line-height: .6;
    padding-left: .4em;
    padding-right: .4em;
    min-width: unset;
    transition: unset;
}

.content {
    margin-left: 0% !important;
    margin-right: 0% !important;
}