<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Danh mục</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-group row" style="width: 80%; margin: 0 auto; margin-bottom: 30px;">
            <input class="form-control col-lg-7" type="search" placeholder="Đường dẫn thư mục..." [(ngModel)]="fullpath">
            <button class="btn btn-primary" (click)="GetAllSUbFolder(this.fullpath)">
                <i class="fas fa-search fa-fw"></i>
            </button>
            <hr>
            <div class="text-right">
                <button mat-flat-button color="accent" style="margin-right: 20px;" (click)="UploadDialog('Upload', {})">
                    <mat-icon>upload</mat-icon> Tải File lên
                </button>
                <button mat-flat-button color="primary" (click)="openDialog('Thêm', {})">
                    <mat-icon>add</mat-icon> Tạo Danh Mục
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 connectedSortable">
                <div class="card" >
                    <div class="card-body">
                        <ejs-treeview
                            #tree
                            id='treeelement'
                            [fields]='field'
                            (nodeSelected)="nodeSelected($event)">
                            <ng-template #nodeTemplate="" let-data="">
                                <div>
                                    <i class ="nav-icon fas fa-folder" *ngIf="data.type == 0" style="color: orange"></i>
                                    <i class ="nav-icon fa fa-file-o" *ngIf="data.type == 1"></i>
                                    <span>{{ data.name }}</span>
                                </div>
                            </ng-template>
                        </ejs-treeview>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 connectedSortable">
                <div class="card" >
                    <div class="card-body" >
                        <div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Thời gian tạo</th>
                                    <th scope="col">Loại</th>
                                    <th scope="col">Dung lượng</th>
                                    <th scope="col">Hoạt động</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of folder_sub_list">
                                        <td (click)="moreFolder(item)">
                                            <i class ="nav-icon fas fa-folder" *ngIf="item.type == 0" style="color: orange"></i>
                                            <i class ="nav-icon fa fa-file-o" *ngIf="item.type == 1"></i>
                                            {{ item.name }}
                                        </td>
                                        <td>{{ item.created_at * 1000 | date: "dd/MM/yyyy hh:mm a" }}</td>
                                        <td>
                                            {{ item.type == 0 ? 'Thư mục' : 'File' }}
                                        </td>
                                        <td>{{ convertByte(item.size) }}</td>
                                        <td>
                                            <mat-icon color="primary" style="margin-right: 5px" (click)="openDialog('Cập Nhật', item)">edit</mat-icon>
                                            <mat-icon color="warn" (click)="deleteFolder(item._id)">delete</mat-icon>
                                            <mat-icon color="accent" style="margin-right: 5px" *ngIf="item.type == 1" (click)="downloadFile(item.path)">download</mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
