<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="FileName">
            <th mat-header-cell *matHeaderCellDef>Tên</th>
            <td mat-cell *matCellDef="let element">
                <img src="../../../../assets/images/icons8-html-64.png" *ngIf="element.type === 'HTML'">
                <img src="../../../../assets/images/icons8-microsoft-excel-48.png" *ngIf="element.type === 'EXCEL'">
                <img src="../../../../assets/images/icons8-microsoft-word-48.png" *ngIf="element.type === 'WORD'">
                {{ element.name }}
            </td>
        </ng-container>
        <ng-container matColumnDef="CreatedTime">
            <th mat-header-cell *matHeaderCellDef>Thời gian tạo</th>
            <td mat-cell *matCellDef="let element">
                {{ element.created_at * 1000 | date: "dd/MM/yyyy" }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef>Loại File</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div> -->


