<div class="wrapper">
    <mat-icon class="close-icon" (click)="closeDialog()">clear</mat-icon>
    <br>
    <div class="text-center" style="font-size: 18px; font-weight: bold">
        {{action}} Phân Quyền
    </div>
    <hr>
    <form class="form" [formGroup]="fg">
        <mat-form-field class="full-width">
            <mat-label>Tên quyền</mat-label>
            <input required matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Mô tả</mat-label>
            <input required matInput formControlName="mo_ta">
        </mat-form-field>
        <div >
            <label>Phân quyền</label>
            <div  style="width: 100%;" formArrayName="privilege">
                <div class="form-group row" *ngFor="let Privilege of privilege.controls; let i = index">
                    <mat-icon (click)="removePrivilege(i)">clear</mat-icon>
                    <hr>
                    <input class="form-control" required [formControlName]="i" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.ten" (click)="changeOption(option.ten)">
                        {{ option.ten }}
                      </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </div>
        <button class="btn btn-success" style="width: 50%;" (click)="addRole()">Thêm quyền</button>
        <!-- <mat-form-field class="full-width">
            <mat-label>Trạng thái</mat-label>
            <mat-select formControlName="status">
                <mat-option [value]="Status.text" *ngFor="let Status of statusList"> {{Status.text}} </mat-option>
            </mat-select>
        </mat-form-field> -->
    </form>
</div>
<br>
<div>
    <button (click)="actionDialog()" class="btn btn-primary" style="width: 100%;" [disabled]="!fg.valid">{{action}}</button>
</div>
