<div class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <app-header></app-header>
        <div class="content-wrapper">
            <app-sidenav></app-sidenav>
            <router-outlet></router-outlet>
        </div>
        <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>
</div>

