<div class="wrapper">
    <mat-icon class="close-icon" (click)="closeDialog()">clear</mat-icon>
    <div class="text-center" style="font-size: 18px; font-weight: bold">
        {{action}} Người dùng
    </div>
    <hr>
    <form class="form" [formGroup]="fg">
        <div class="card">
            <img class="card-img-top" [src]="userformdata.avata">
            <div class="card-body">
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input required matInput formControlName="username">
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="this.action == 'Thêm'">
                    <mat-label>Mật Khẩu</mat-label>
                    <input required type="password" matInput formControlName="password">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Họ tên</mat-label>
                    <input required matInput formControlName="fullname">
                </mat-form-field>
                <mat-label>Ảnh đại diện</mat-label>
                <div>
                    <input type="file" (change)="uploadFile($event)">
                </div>
                <mat-form-field class="full-width">
                    <mat-label>Ngày tháng năm sinh</mat-label>
                    <input type="date" matInput formControlName="birday">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Giới tính</mat-label>
                    <input matInput formControlName="gender">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>SDT</mat-label>
                    <input required matInput formControlName="sdt">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input required matInput formControlName="email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Vai trò</mat-label>
                    <input required matInput formControlName="role" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of roleOption | async" [value]="option.quyen" (click)="changeOption(option.quyen)">
                          {{ option.quyen }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Trạng thái</mat-label>
                    <input matInput formControlName="status">
                </mat-form-field>
            </div>
        </div>

    </form>
</div>
<div>
    <button (click)="actionDialog()" class="btn btn-primary" style="width: 100%;" [disabled]="!fg.valid">{{action}}</button>
</div>
