<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dữ liệu khai thác</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-group row" style="width: 80%; margin: 0 auto; margin-bottom: 30px;">
            <input class="form-control col-lg-9" type="search" [matAutocomplete]="auto" [(ngModel)]="welllogSelected">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let ListWellog of welllogsList" [value]="ListWellog.FILENAME">
                  {{ ListWellog.FILENAME }}
                </mat-option>
            </mat-autocomplete>
            <hr>
            <button class="btn btn-primary" (click)="getDataList()" style="margin-right: 70px;">
                <i class="fas fa-bar-chart"></i> Thống kê
            </button>
        </div>
        <div class="row">
            <section class="col-lg-12 connectedSortable" *ngIf="this.explodeDataPSIA">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                           Biểu đồ dữ liệu áp suất đáy giếng
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <apx-chart
                                [series]="linechart1.series"
                                [chart]="linechart1.chart"
                                [xaxis]="linechart1.xaxis"
                                [dataLabels]="linechart1.dataLabels"
                                [grid]="linechart1.grid"
                                [stroke]="linechart1.stroke"
                                [title]="linechart1.title"
                                [yaxis]="linechart1.yaxis"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-lg-12 connectedSortable" *ngIf="this.explodeDataQSTB">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                           Biểu đồ dữ liệu lưu lượng khai thác
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <apx-chart
                                [series]="linechart2.series"
                                [chart]="linechart2.chart"
                                [xaxis]="linechart2.xaxis"
                                [dataLabels]="linechart2.dataLabels"
                                [grid]="linechart2.grid"
                                [stroke]="linechart2.stroke"
                                [title]="linechart2.title"
                                [yaxis]="linechart2.yaxis"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-lg-12 connectedSortable">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                           Biểu đồ 
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0" *ngIf="this.explodeDataPSIA">
                            <apx-chart
                                [series]="scatterchart.series"
                                [chart]="scatterchart.chart"
                                [xaxis]="scatterchart.xaxis"
                                [yaxis]="scatterchart.yaxis"
                                [dataLabels]="scatterchart.dataLabels"
                                [grid]="scatterchart.grid"
                                [title]="scatterchart.title"
                                [markers]="scatterchart.markers"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>