<div class="wrapper">
    <div class="text-center">
        <h4>Tải lên File</h4>
    </div>
    <form class="form" [formGroup]="fg">
        <!-- <input required type="file" (change)="uploadFile($event)" multiple> -->
        <div>
            <div class="dropzone" fileDragDrop>
                <div class="text-wrapper">
                    <div class="centered">
                        <input type="file" name="file" id="file" (change)="uploadFile($event)" multiple>
                        <!-- <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="text-center">
    <button mat-button (click)="doAction()" mat-flat-button color="primary">{{ action }}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Hủy Bỏ</button>
</div>
