<div class="wrapper">
  <mat-icon class="close-icon" (click)="closeDialog()">clear</mat-icon>
  <br>
  <div *ngFor="let chartOption of chartData">
    <apx-chart
        [series]="chartOption.series"
        [chart]="chartOption.chart"
        [xaxis]="chartOption.xaxis"
        [dataLabels]="chartOption.dataLabels"
        [grid]="chartOption.grid"
        [stroke]="chartOption.stroke"
        [title]="chartOption.title"
        [yaxis]="chartOption.yaxis"
    ></apx-chart>
  </div>
</div>
