<div class="wrapper">
    <div class="account">
        <div></div>
        <div class="form">
            <h3>Đăng nhập</h3>
            <form [formGroup]="fg"  (ngSubmit)="login()" style="margin-top: 20px">
                <div class="Username">
                    <div>
                      <input type="text" placeholder="Tên đăng nhập" required formControlName="username" />
                    </div>
                  </div>
                  <div class="Password">
                    <input id="password_input" type="password" placeholder="Mật Khẩu" required formControlName="password" />

                    <span style="display: none;" id="view_password" (click)='ViewPassword(false)'>
                        <i class="fa fa-eye show-password" aria-hidden="true"></i>
                    </span>
                    <span id="hide_password" (click)='ViewPassword(true)'>
                        <i class="fa fa-eye-slash hidden-password" aria-hidden="true"></i>
                    </span>
                  </div>
                  <mat-checkbox class="example-margin" color="primary" style="margin:21px 0px; color: gray;">Lưu mật khẩu</mat-checkbox>
                <div class="btn-submit">
                    <button *ngIf="!this.submited" type="submit" [disabled]="this.fg.invalid" class="btn-submit-login btn-primary">
                      Đăng Nhập
                    </button>
                    <!-- <button type="submit" [disabled]="this.fg.invalid" class="btn-submit-login btn-success">
                        Đăng Nhập
                    </button> -->
                    <button *ngIf="this.submited" class="loading">Vui lòng chờ...</button>
                </div>
                <div *ngIf="this.is_error" class="text-center" style="color: red">
                    <p>Tên đăng nhập hoặc mật khẩu không hợp lệ</p>
                </div>
            </form>
        </div>
        <div></div>
    </div>
    <div class="img-background">
        <img src="../../../../assets/images/Login.jpg">
    </div>
</div>
