
.btn-submit{
    display: flex;
    justify-content: center;
    .btn-submit-login,.loading{
      padding: 14px 20px;
      margin: 8px 0;
      width: 100%;
      border-radius: 5px;
      outline: none;
      margin: 10px 0;
    }
    .loading {
      cursor: progress;
    }
    .error-login{
        color: red;
    }
}


.wrapper{
    overflow:hidden;
    .account{
        width: 400px;
        height: 450px;
        margin: 0 auto;
        margin-top: 200px;
        .form{
            padding: 30px 10px;
            border-radius: 10px;
            background-color: rgba($color: #fff, $alpha: 0.3);
            backdrop-filter: blur(10px);
            h3{
                margin: 0px 21px;
                padding-bottom: 21px;
                color: #0078E8;
                font-weight: 500;
                text-align: center;
            }
        }

    }
}
.img-background{
    img{
        width: 100%;
        height: 100%;
        position: fixed;
        vertical-align: middle;
        top: 0;
        left: 0;
        z-index: -9;
    }
}
.Username, .Password{
    position: relative;
    input{
        width: 100%;
        padding: 12px 10px;
        margin: 8px 0;
        border-radius: 10px;
        border: 1px solid;
    }
    .show-password{
        position: absolute;
        bottom: 22px;
        right: 20px;
        color: black;
        cursor: pointer;
        font-size: 20px;
    }
    .hidden-password{
        position: absolute;
        bottom: 22px;
        right: 20px;
        color: black;
        cursor: pointer;
        font-size: 20px;
    }
}
