<div class="wrapper">
    <mat-icon class="close-icon" (click)="closeDialog()">clear</mat-icon>
    <div class="text-center" style="font-size: 18px; font-weight: bold">
        {{action}} Thư Mục
    </div>
    <hr>
    <form class="form" [formGroup]="fg">
        <mat-form-field class="full-width">
            <mat-label>Path</mat-label>
            <input type="url" matInput formControlName="path" placeholder="Ex. /Tên thư mục/">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Tên</mat-label>
            <input required matInput formControlName="name">
        </mat-form-field>
        <!-- <mat-form-field class="full-width" *ngIf="this.action =='Thêm'">
            <mat-label>Loại File</mat-label>
            <input required type="number" matInput formControlName="type">
        </mat-form-field> -->
    </form>
</div>
<div>
    <button (click)="actionDialog()" class="btn btn-primary" style="width: 100%;">{{action}}</button>
</div>
