.wrapper, form{
    display: flex;
    flex-direction: column;
    .close-icon{
        position: relative;
        top: -10px;
        left: 425px;
        cursor: pointer;
        border-radius: 50%;
    }
}
