table{
  width: 100%;
}
th.mat-header-cell,td.mat-cell {
  text-align: center;
}

.list-role{
  width: 96.8%;
  display: grid;
  grid-template-columns: auto auto;
  .role{
    margin: 20px 0;
    margin-left: 40px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    .infor{
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      margin-top: 30px;
      .name{
        color: #01338C;
        font-size: 24px;
        font-weight: 700;
      }
      .desc{
        color: #01338C;
        font-size: 18px;
        font-weight: 500;
      }
      ul, li {
        font-size: 18px;
      }
    }
    .action{
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}
