<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Phân quyền người dùng</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="text-right col-lg-11" style="margin:auto">
          <button mat-flat-button color="primary" (click)="openDialog('Thêm', {})">
              <mat-icon>add</mat-icon> Thêm quyền
          </button>
          <!-- <button mat-flat-button color="primary" (click)="openToPage()">
            <mat-icon>add</mat-icon> Thêm quyền
          </button> -->
        </div>
        <br>
        <div class="row">
          <section class="col-lg-11 connectedSortable" style="margin: auto">
                  <!-- <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource" matSort>
                          <ng-container matColumnDef="Số thứ tự">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
                              <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                          </ng-container>
                          <ng-container matColumnDef="Name">
                              <th mat-header-cell *matHeaderCellDef>Tên</th>
                              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                          </ng-container>
                          <ng-container matColumnDef="Privilege">
                              <th mat-header-cell *matHeaderCellDef>Phân quyền</th>
                              <td mat-cell *matCellDef="let element">{{ element.privilege }}</td>
                          </ng-container>
                          <ng-container matColumnDef="Action">
                              <th mat-header-cell *matHeaderCellDef>Hoạt động</th>
                              <td mat-cell *matCellDef="let element" >
                                  <button mat-icon-button color="primary" (click)="openDialog('Cập Nhật', element)">
                                      <mat-icon>edit</mat-icon>
                                  </button> |
                                  <button mat-icon-button color="warn" (click)="deleteQuyen(element._id)">
                                      <mat-icon>delete</mat-icon>
                                  </button>
                              </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                      </table>
                      <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
                  </div> -->
            <div class="list-role">
              <div class="role card" *ngFor="let item of roleList">
                <div class="infor">
                  <span class="name">{{ item.name }}</span>
                  <span class="desc">Quyền được phép truy cập:</span>
                  <hr>
                  <ul>
                    <li *ngFor="let privilege of item.privilege;">{{ privilege }}</li>
                  </ul>

                </div>
                <div class="action" style="cursor: pointer;">
                  <mat-icon color="primary" style="margin-right: 5px" (click)="openDialog('Cập Nhật', item)">edit</mat-icon>
                  <!-- <mat-icon color="primary" style="margin-right: 5px" (click)="redirectToPage(item.name)">edit</mat-icon> -->
                  <mat-icon color="warn" (click)="deleteQuyen(item._id)">delete</mat-icon>
                </div>
              </div>
            </div>
            <!-- <div class="text-center">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div> -->
          </section>
        </div>
    </div>
</section>
