<div id="treeparent">
	<!-- <ejs-treeview id="tree" #wsTree [fields]="field" (nodeClicked)="nodeclicked($event)"
		(nodeEdited)='onNodeEdited($event)'>
		<ng-template #nodeTemplate="" let-data="">
			<div>
				<img class="eimage" src="https://ej2.syncfusion.com/demos/src/treeview/images/employees/{{data.eimg}}.png" alt="{{data.eimg}}"/>
				<div class="ename">{{data.name}}</div>
			</div>
		</ng-template>
	</ejs-treeview> -->

    
</div>
<!-- <ejs-contextmenu #contentmenutree id="contentmenutree" target="#tree" [items]="menuItems"
	(beforeOpen)="beforeopen($event)" (select)="menuclick($event)"></ejs-contextmenu> -->

    <style>
        .control_wrapper {
            max-width: 500px;
            margin: auto;
            border: 1px solid #dddddd;
            border-radius: 3px;
        }
    
        .eimage {
            float: left;
            height: 20px;
            width: 20px;
            margin-top: 2px;
        }
    
        .ename {
            font-size: 16px;
            padding: 0px 0px 0px 25px;
        }
    </style>
