table{
    width: 100%;
    align-items: center;
}

th.mat-header-cell,td.mat-cell {
    font-size: 17px;
}
.dropdown-menu, .dropdown-item{
    cursor: pointer;
}

/* th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding: 0 50px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding: 0 50px;
} */