<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Truy vấn dữ liệu</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-group row" style="width: 60%; margin: 0 auto; margin-bottom: 30px;">
            <div class="dropdown" style="margin-right: 30px;">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mục truy vấn
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <span class="dropdown-item" (click)="changeData('select * from histprod_test')">Dữ liệu khai thác</span>
                  <span class="dropdown-item" (click)="changeData('select * from well_log_data')">Dữ liệu Welllogs</span>
                </div>
            </div>
            <hr>
            <input class="form-control col-lg-9" type="search" [(ngModel)]="queryStr">
            <button class="btn btn-primary col-lg" (click)="QueryData()">
                <!-- <i class="fas fa-search fa-fw"></i> -->
                <i class="fas fa-refresh"></i>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-11 connectedSortable" style="margin: auto;">
                <div class="card">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                            <div *ngFor = "let label of displayedColumns">
                                <ng-container matColumnDef="{{label}}">
                                    <th mat-header-cell *matHeaderCellDef>{{ label }}</th>
                                    <td mat-cell *matCellDef="let element">{{ element[label] }}</td>
                                </ng-container>
                            </div>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                        <mat-paginator #paginator 
                        [pageSizeOptions]="[10, 20, 50]"
                        [length]="totalElements"
                         showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>